body {
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    width: 1200px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        'head'
        'content'
        'footer';
    gap: 10px;
}

p {
    display: inline-block;
}

#join-form {
    grid-area: content;
    width: 100%;
    max-width: 900px;
    margin: auto;
    background-color: white;
    padding: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#join-form h2 {
    margin-bottom: 20px;
}

#join-form label {
    display: block;
    font-weight: bold;
    padding-right: 30px;
}

#join-form input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    resize: vertical;
    margin: 20px;
}



.btn-wrap {
    text-align: right;
    margin-top: 20px;
    
}

.btn {
    padding: 10px 20px !important;
    background-color: #cc9595;
    border: none !important;
    border-radius: 8px !important;
    cursor: pointer;
    font-weight: bold;
    margin:10px !important;
}

.btn:hover {
    background-color: #c7adad;
    color: white;
}


